### C++ template
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# JetBrains Stuff
**/.idea

# VisualStudio Stuff
**/.vs

## File-based project format:
*.iws

# IntelliJ
**/out/
**/cmake-build-debug
**/cmake-build-wsl-debug
**/cmake-build-wsl-debug-coverage
**/cmake-build-wsl-release
**/cmake-build-debug-visual-studio